html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

nav a {
  font-weight: bolder;
  color: white;
}
.btn {
  margin-top: 10px;
}

#home {
  background: url(assets/images/mountains.jpeg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
}

.padding {
  padding: 80px 0;
}

.padding img {
  width: 80%;
}

#fixed {
  background: url(./assets/images/background.jpg) no-repeat center center fixed;
  position: relative;
  height: 600px;
  width: auto;
  background-size: cover;
}

footer {
  width: 100%;
  background-color: #23415c;
  padding: 5% 5% 10% 5%;
  color: white;
}

.fa {
  padding: 15px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.fa:hover {
  padding: 15px;
  color: #d5d5d5;
  text-decoration: none;
}

#icon {
  max-width: 150px;
}
