html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

#home {
  background: url(assets/images/workspace.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  margin-bottom: 50px;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: aliceblue;
}

.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
}

#fixed {
  background: url(./assets/images/office.jpeg) no-repeat center center fixed;
  position: relative;
  height: 600px;
  width: auto;
  background-size: cover;
  opacity: 50%;
}

#apropos {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 0.5fr 2fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.25fr 1fr 1fr;
}

#apropos > h2 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: 3 / 5;
  text-align: center;
  align-self: center;
}

.container-text {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  font-size: 1rem;
  text-align: justify;
  align-self: center;
}

#container-photo {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 6;
  align-self: center;
  justify-self: flex-start;
}

#photo {
  width: 60%;
}

#services {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.1fr 1fr 0.5fr 0.5fr;
  grid-template-columns: 0.5fr 1fr 0.25fr 1fr 0.5fr;
}

#services > h2 {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: center;
  align-self: center;
}

#card1 {
  grid-row: 4;
  grid-column: 2 / 3;
  align-self: center;
  justify-self: flex-end;
}

#card2 {
  grid-row: 4;
  grid-column: 4 / 5;
  align-self: center;
  justify-self: flex-start;
}

footer {
  height: 70px;
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 6;
  align-self: flex-end;
  width: 100%;
  background-color: #7a6c5d;
  padding: 5% 5% 10% 5%;
  color: white;
}
