html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

nav a {
  font-weight: bolder;
  color: white;
}
.btn {
  margin-top: 10px;
}

#home {
  background: url(assets/images/workspace.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

#apropos {
  width: 100vw;
  height: 97vh;
}

#services {
  width: 100vw;
  height: 98vh;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: aliceblue;
}

.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
}

.padding {
  padding: 80px 0;
}

.padding img {
  width: 80%;
}

.card {
  display: inline-flex;
}

#fixed {
  background: url(./assets/images/office.jpeg) no-repeat center center fixed;
  position: relative;
  height: 600px;
  width: auto;
  background-size: cover;
  opacity: 50%;
}

footer {
  width: 100%;
  background-color: #7a6c5d;
  padding: 5% 5% 10% 5%;
  color: white;
}

#icon {
  max-width: 200px;
}
